<h1>New Worker</h1>

<% form_for([@firm, @worker]) do |f| %>

  <p>
    <%= f.label :Nazwa %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :Wiek %><br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.submit 'Utworz' %>
  </p>
<% end %>

<%= link_to 'Wroc', firms_path %>